* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1: #fff;
  --color2: #1c1c1c;
}

body {
  background: #f2f2f2;
  font-family: "Poppins", sans-serif;
  margin-bottom: 110px;
}

.section {
  margin-top: 20px;
}

/* typographies */

h1 {
  font-weight: bold;
  font-size: 35px;
}

.title {
  position: relative;
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 20px;
  background-color: black;
}

.radio-text p {
  margin-bottom: 30px;
}

/* Carousel de AD*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 150px;
  margin: 0 40px;
}

/* Nav bar */

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
}

.logo-radio img {
  width: 50px;
  display: flex;
}

.logo-wpp {
  height: 40px;
  margin-left: 20px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

/* Header Banners */

.banners {
  overflow: hidden;
  background: #1c1c1c;
  white-space: nowrap;
  position: relative;
}

.banners:before,
.banners:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.banners:hover .banners-slide {
  animation-play-state: paused;
}

.banners-slide {
  display: inline-block;
  animation: 200s slide infinite linear;
}

.banners-slide img {
  height: 100%;
}
/* ANNOUNCERS*/
.annnouncers-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.annnouncers-card {
  display: flex;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.annnouncers-card img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
}

.annnouncers-card-content {
  padding: 20px;
}
.announcers-tag {
  color: rgb(230, 33, 98);
}
.annnouncers-card-content h2 {
  margin-top: 0;
}

.social-links a {
  margin-right: 10px;
  color: #333;
}

.social-links a:hover {
  color: rgb(230, 33, 98);
}

/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color2);
  padding: 20px;
  color: #f2f2f2;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.footer-column h4 {
  font-size: xx-large;
  font-weight: bold;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container img {
  max-width: 100px;
  height: auto;
}

.logo-container span {
  margin-top: 5px;
  font-size: 14px;
}
.footer-column h4 {
  font-size: 16px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
}

.social-links-footer a {
  margin-right: 10px;
  color: #ffffff;
}

.social-links-footer a:hover {
  color: rgb(230, 33, 98);
}

/*PLayer*/

.player-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  color: #ccc;
}

.player {
  display: flex;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-column {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 791px) {
  .section {
    padding: 0px 40px;
  }

  /* Navbar*/
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }

  .logo-wpp {
    margin-top: 30px;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  /*announcers */
  .annnouncers-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  /* RADIO */

  .radio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .title-section {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .radio-content {
    display: flex;
  }

  .radio-img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 4%;
    max-height: 50%;
  }

  .radio-text {
    text-align: justify;
  }
}

@media only screen and (min-width: 791px) {
  .section {
    padding: 0px 80px;
  }

  .radio-content {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }

  .radio-img {
    flex: 0 0 auto;
    max-width: 50%;
    margin-right: 20px;
    border-radius: 4%;
    max-height: 50%;
  }

  .radio-text {
    flex: 1;
    text-align: justify;
  }
}

@media only screen and (min-width: 1025px) {
  .section {
    padding: 0px 200px;
  }
}

@media only screen and (max-width: 1025px) {
  .annnouncers-card {
    flex-direction: column;
  }

  .annnouncers-card img {
    max-width: 100%;
  }
}
