* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1: #fff;
  --color2: #1c1c1c;
  --color3: rgb(230, 33, 98);
  --color4: rgb(59, 121, 202);
}

body {
  background: #f2f2f2;
  font-family: "Poppins", sans-serif;
  margin-bottom: 110px;
}

/* typographies */

h1 {
  font-weight: bold;
  font-size: 35px;
}

.title {
  position: relative;
  font-size: 24px;
  padding-left: 20px;
  text-transform: uppercase;
  margin: 20px 0px 12px;
}

.title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 20px;
  background-color: black;
}

.radio-text p {
  margin-bottom: 30px;
}

/* Carousel de AD*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 150px;
  margin: 0 40px;
}

/* Nav bar */

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
}

.logo-radio img {
  width: 50px;
  display: flex;
}

.logo-wpp {
  height: 40px;
  margin-left: 20px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

/* Header Banners */

.banners {
  overflow: hidden;
  background: #1c1c1c;
  white-space: nowrap;
  position: relative;
}

.banners:before,
.banners:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.banners:hover .banners-slide {
  animation-play-state: paused;
}

.banners-slide {
  display: inline-block;
  animation: 200s slide infinite linear;
}

.banners-slide img {
  height: 100%;
}

/* Schedule*/

#programacao {
  display: flex;
  justify-content: space-around;
  background-color: #dddddd;
  padding: 6px 10px;
}

#programacao button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
}

#programacao button.active {
  color: var(--color4);
  border-bottom: var(--color4) 2px solid;
}

#day-container {
  background-color: #ebeaea;
}

.day-content {
  display: none;
  text-align: left;
  padding: 10px 20px;
}

.card-show-content h1 {
  font-size: 20px;
  color: rgb(26, 54, 92);
}

.card-show {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
}

.card-show-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.card-show p {
  color: gray;
}

.card-show img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  border: 3px solid var(--color4);
}

.card-show-content {
  width: 80%;
}

/* ANNOUNCERS*/

.annnouncers-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.annnouncers-card {
  display: flex;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  max-height: 600px;
  padding: 20px;
}
.annnouncers-card p {
  font-size: 14px;
}

.annnouncers-card img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 4%;
  margin-right: 10px;
}

.announcers-tag {
  color: var(--color3);
}
.annnouncers-card-content h2 {
  margin-top: 0;
}

.social-links a {
  margin-right: 10px;
  color: #333;
}

.social-links a:hover {
  color: var(--color3);
}

/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color2);
  padding: 20px 80px;
  color: #f2f2f2;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  font-size: xx-large;
  font-weight: bold;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container img {
  max-width: 100px;
  height: auto;
}

.logo-container span {
  margin-top: 5px;
  font-size: 14px;
}
.footer-column h4 {
  font-size: 16px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
}

.social-links-footer a {
  margin-right: 10px;
  color: #ffffff;
}

.social-links-footer a:hover {
  color: var(--color3);
}

/*PLayer*/

.player-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  color: #ccc;
  z-index: 3;
}

.player {
  display: flex;
  align-items: center;
  padding: 20px;
}

/* copyright*/

.copyright {
  text-align: center;
  padding: 20px 0px 50px;
}
.copyright h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* alert cookies */

.cookie-alert {
  position: fixed;
  bottom: 130px;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: small;
  color: grey;
  z-index: 2;
  justify-content: center;
}

.cookie-alert-text {
  margin-bottom: 10px;
  width: 80%;
}

.cookie-alert-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cookie-alert-buttons button {
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.cookie-alert-buttons button.accept {
  background-color: var(--color3);
  color: #fff;
}

.cookie-alert-buttons button.terms {
  background-color: var(--color3);
  color: #fff;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  #programacao {
    padding: 2px 4px;
    width: 100%;
    overflow-x: auto;
    justify-content: space-between;
  }

  #programacao button {
    padding: 8px;
    font-size: 9px;
  }

  .day-content {
    padding: 10px 20px;
  }

  .card-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    text-align: center;
  }

  .day-content h1 {
    font-size: 16px;
  }

  .card-show p {
    color: gray;
    font-size: 12px;
  }
  .card-show img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 3px solid var(--color4);
  }

  .footer {
    flex-direction: column;
    padding: 20px 40px;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .player {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .copyright {
    text-align: center;
    padding: 20px 0px 90px;
  }

  .copyright h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .player h2 {
    font-size: 16px;
    width: 30;
  }

  .player h4 {
    font-size: 12px;
  }

  .cookie-alert {
    align-items: center;
    bottom: 170px;
    flex-direction: column;
  }

  .cookie-alert-text {
    font-size: x-small;
  }

  .cookie-alert-buttons {
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
  }

  .cookie-alert-buttons button {
    padding: 6px 12px;
    font-size: 9px;
  }
}

@media only screen and (max-width: 791px) {
  .section {
    padding: 10px 40px;
  }

  /* Navbar*/

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
    z-index: 5;
  }

  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }

  /* RADIO */

  .radio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .title-section {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .radio-content {
    display: flex;
  }

  .radio-img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 4%;
    max-height: 50%;
  }

  .radio-text {
    text-align: justify;
  }

  /* Announcers*/

  .annnouncers-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .annnouncers-card img {
    margin-right: 0px;
  }

  .footer {
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 791px) {
  .section {
    padding: 10px 80px;
  }

  .footer {
    padding: 20px 80px;
  }

  .radio-content {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }

  .radio-img {
    flex: 0 0 auto;
    max-width: 50%;
    margin-right: 20px;
    border-radius: 4%;
    max-height: 50%;
  }

  .radio-text {
    flex: 1;
    text-align: justify;
  }
}

@media only screen and (max-width: 1025px) {
  .annnouncers-card {
    flex-direction: column;
  }

  .annnouncers-card img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding: 10px 200px;
  }
  .footer {
    padding: 20px 200px;
  }
}

@media only screen and (min-width: 1900px) {
  .section {
    padding: 10px 400px;
  }

  .footer {
    padding: 20px 400px;
  }
}
